*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font:bold 12px Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, #08001f, #30197d);
}

li {
    font-family: "Baumans", serif;
    font-weight: 400;
    font-style: normal;
}

.clock{
    border: 1px solid #606060;
    width: 800px;
    color: rgb(114, 160, 225);
    padding: 5em;
    border-radius: 10px;
    background-color: #22222288;
    background: linear-gradient(-45deg, #08001f, #30197d);
    box-shadow: 15px 15px 40px rgb(255, 4, 88);
}

#Date{
    font-size: 25px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Baumans", serif;
    font-weight: 400;
    font-style: normal;
}

.clock ul{
    list-style: none;
    display: flex;
    font-size: 175px;
    gap: 30px;
    padding-left: 30px;
}
