*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font:bold 12px Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, #08001f, #30197d);
}

li {
    /* font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */
    font-family: "Baumans", serif;
    font-weight: 400;
    font-style: normal;
}

.clock{
    border: 1px solid #606060;
    width: 60em;;
    color: rgb(114, 160, 225);
    padding: 5em;
    border-radius: 10px;
    background-color: #22222288;
    background: linear-gradient(-45deg, #08001f, #30197d);
}

#Date{
    font-size: 20px !important;
    text-align: center;
    align-items: center;
    padding-right: 4.5em;
    /* Baumans font from Google fonts */
    font-family: "Baumans", serif;
    font-weight: 400;
    font-style: normal;
}

.clock ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: .2em;
    font-size: 16em;
    gap: .1em;
}
